<script type="text/javascript">
$(function() {
		$("#target").sortable({
			revert: true,
			stop: function(event,ui){
				alert(ui.item.attr('id'));
				alert($(this).attr('id'));
			}
		});
		$(".draggable").draggable({
			connectToSortable: '#target'
		})
	});

</script>
<div  style="float:left;width:100px;background-color:green;height:200px;" id="source">
<div class="draggable" id="project1" style="background-color:blue;margin:5 5 5 5;">
Project1
</div>
<div class="draggable" id="project2" style="background-color:blue;margin:5 5 5 5;">
Project2
</div>
</div>
<div  style="float:right;width:100px;background-color:yellow;height:200px;" id="target">
</div>
